body{
    text-align:center;
    background-color: rgb(235, 235, 235);
    font-size: 25px;
  }  
  
  #album
  {
    height:450px;
    border-radius:30px;
  }
  button
  {
  background-color:#eca859;
    border-radius: 50px;
    font-size: 25px;
  }
  